@import '../../assets/sass/variables';

.footer {
    min-height: 50px;
    //background-color: $swamp-green;
    background-color: forestgreen;
    color: white;
    font-weight: 600;
    width: 100%;
}
