/* SCSS HEX */
$periwinkle-gray: #bdcce4;
$paradiso: #378b8e;
$neptune: #7dabb8;
$contessa: #c17464;
$fuzzy-wuzzy-brown: #be5454;
$cocoa-brown: #2d2322;
$old-rose: #bc7d89;
$indian-khaki: #beba92;
$prim: #efe1e9;

/* SCSS HEX */
$paradiso: #358583;
$black-haze: #eaecec;
$granny-smith: #8b9796;
$dove-gray: #696767;
$cod-gray: #0f0f0f;
$edward: #b4b9b8;
$chelsea-cucumber: #7cb04d;
$silver-chalice: #a4a3a3;
$silver: #c4c3c3;
$swamp-green: #b0c49a;

/* SCSS HEX */
$sea-green: #297344;
$cloud: #c9c8c7;
$paarl: #ad592e;
$oxley: #789c8e;
$boston-blue: #3591ba;
$brandy-rose: #ba8b77;
$edward: #9dada8;
$scorpion: #675b64;
$venus: #958b94;


$danger: #c0341e;
$green: #0e6409; 
$valid: #055c04;
$bleu-b: #23829e;
$bleu-bb: #1a7bb4;

//$blue-sky: #05a6f8;
$blue: rgba(5,166,248,255);
$blue-sky:rgba(113,219,249,255); //#71dbf9

$gray: #99A1B7;

$primary: #7cb04d; //chealsea
$primary: forestgreen; //chealsea
$secondary: #71dbf9; //new blue Sky
$hover-primary: #7cb04d;